@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/About.css">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <style>
        body {
            font-family: 'Saira Semi Condensed';
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div class="h1">
        <div class="h1-container">
            <h1><b>About Us</b></h1>
            <img src="~/image/LOGO(black).png" />
            <hr />
        </div>
    </div>
    <br />
    <div class="logo">
        <img src="~/image/LOGO(black).png" />
    </div>

    <section class="about">
        <div class="first-container">
            <img src="~/image/register business owner.jpg" />
            <div class="about-text">
                <h3><b>Our Story</b></h3>
                <p>
                    <b>Complaza</b> was founded in 2021 to help and support small local businesses increase their online
                    presence during the <em>COVID-19 Pandemic</em>. In 2020, the pandemic ravaged small businesses which
                    is observed by the Team making it an inspiration to help and support them by founding this
                    centralized online platform for these businesses to compile them in an online plaza.
                </p>
            </div>
        </div>
    </section>
    <br />
    <section class="about2">
        <div class="second-container">
            <div class="about-text2">
                <h3><b>MISSION</b></h3>
                <p>
                    To be a <em>stepping stone for small local businesses</em> to progress even during this pandemic.
                    Be <em>the platform of opportunities for these businesses</em> by developing management-friendly
                    systems and user-friendly platform that will motivate them to choose products from small
                    local businesses, and be <em>an advocate of the importance of online marketing of this era</em>.
                </p>
            </div>
            <div class="image-section">
                <img src="~/image/nightmarket3.jpeg" />
            </div>
        </div>
    </section>
    <br />
    <section class="about3">
        <div class="third-container">
            <img src="~/image/register.jpg" />
            <div class="about-text3">
                <h3><b>Vision</b></h3>
                <p>
                    A <em>united plaza of small local businesses</em> that contributes in helping them to succeed despite
                    the challenges caused by the pandemic, and an <em>online web application that prioritizes users</em> in every
                    developments done within the system.
                </p>
            </div>
        </div>
    </section>






</body>
</html>
