@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Us</h1>
<hr />

<h3>Our Story</h3>
    <p>
        <b>Complaza</b> was founded in 2021 to help and support small local businesses increase their online 
        presence during the <em>COVID-19 Pandemic</em>. In 2020, the pandemic ravaged small businesses which
        is observed by the Team making it an inspiration to help and support them by founding this 
        centralized online platform for these businesses to compile them in an online plaza.
    </p>

<h3>Mission</h3>
    <p>
        To be a <em>stepping stone for small local businesses</em> to progress even during this pandemic.
        Be <em>the platform of opportunities for these businesses</em> by developing management-friendly
        systems and user-friendly platform that will motivate them to choose products from small 
        local businesses, and be <em>an advocate of the importance of online marketing of this era</em>.
    </p>

<h3>Vision</h3>
    <p>
        A <em>united plaza of small local businesses</em> that contributes in helping them to succeed despite
        the challenges caused by the pandemic, and an <em>online web application that prioritizes users</em> in every
        developments done within the system.
    </p>