@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: lightgray;
    }

    .row {
        background-color: white;
        border-radius: 100px;
    }

    img {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
</style>

<section>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="~/image/mount4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-7 px-5 pt-md-5">

                <h1 class="font-weight-bold py-3">ADD NEW STUDENT</h1>
                <form asp-controller="Login" asp-action="Add" method="post">
                    <div class="form-row">
                        <div class="col-lgl-7">
                            LastName
                            <input type="text" name="LastName"
                                   class="form-control" value="@Model.LastName" />
                            <span class="text=danger" ></span>
                            <br />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lgl-7">
                            FirstName
                            <input type="text" name="FirstName"
                                   class="form-control" value="@Model.FirstName" />
                            <span class="text=danger" ></span>
                            <br />
                        </div>
                    </div>

                    <a asp-controller="Login" asp-action="List"
                       class="btn btn-secondary">
                        Back
                    </a>
                    <button type="submit" class="btn btn-success">
                        Add Student
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>