

<style>
    body {
        background-color: gray;
        text-align: center;
    }

    .container {
        text-align: center;
        margin-left: 200px;
    }
</style>

<section>
        <div class="container">
            <div class="col-lg-5 px-10 pt-md-5">
                <h1 class="font-weight-bold py-3">ADD NEW ITEM</h1>
                <form asp-controller="LogIn" asp-action="Add" method="post">
                    <div class="form-row">
                        <div class="col-lgl-7">
                            <input type="text" name="Name"
                                   class="form-control" placeholder="ITEM NAME" />
                            <span class="text=danger"></span>
                            <br />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lgl-7">
                            <input type="text" name="Description"
                                   class="form-control" placeholder="DESCRIPTION" />
                            <span class="text=danger"></span>
                            <br />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lgl-7">
                            <input type="text" name="Stocks"
                                   class="form-control" placeholder="STOCKS" />
                            <span class="text=danger"></span>
                            <br />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lgl-7">
                            <input type="text" name="Price"
                                   class="form-control" placeholder="PRICE" />
                            <span class="text=danger"></span>
                            <br />
                        </div>
                    </div>

                    <a asp-controller="LogIn" asp-action="List"
                       class="btn btn-secondary">
                        Back
                    </a>
                    <button type="submit" class="btn btn-success">
                        ADD
                    </button>
                </form>
            </div>
        </div>
</section>