@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Contact us!";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Feedback Details</h4>
            <hr />
            <div class="text-danger"></div>
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea id="w3review" name="w3review" rows="4" cols="50">
                </textarea>
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send Feedback</button>

        </form>
    </div>
</div>