@{
    ViewData["Title"] = "Home Page";
}


<style>



</style>


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome Cente</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="~/image/customer_owner.jpg"/>
</div>
