@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <style>
        body {
            font-family: 'Saira Semi Condensed';
            font-size: 22px;
        }
    </style>
</head>
<body>
    <div class="img-box">

    </div>
    <div class="first-container">
        <div class="buttons">
            <div class="btn1">
                <a href="#">I am a Business Owner</a>
            </div>
            <div class="btn2">
                <a href="#">I am a Customer</a>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="../wwwroot/image/Logo.png" alt="logo">
    </div>

    <div class="second-container">
        <h1>COMPLAZA</h1>
        <p>
            Complaza is a centralized platform that acts like an online
            plaza that allows users to discover a compilation of small
            local businesses that arose during this pandemic
        </p>
        <a href="#">Learn more about us</a>

    </div>
    <div class="btn3">

    </div>


</body>
</html>