
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../image/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color: white;
}

.row {
    width: 80%;
    height: 80%;
    background: #fff;
    margin:5% auto;
    border-radius: 5px;
    display: flex;
    position:center;
    border-radius: 20px;
    flex-direction: column;
}
.row form-group {
    padding: 10px 5px;
    margin: 20px 0;
    background: white;
}
form input {
    padding: 10px 5px;
    margin: 5px 0;
    color: black;
}

.row h4{
    color: black;
    text-align: center;
    font-weight: bolder;
}

@media only screen and (max-width:850px) {
    .row {
        flex-direction: column;
    }
   .row form-group {
       align-content: center;
       max-width: 80%;
    }

}